*{
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
}
h1{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}
#app{
    width: 100%;
    height: 800px;
    background-color: aliceblue;
    
}
#game{
    width: 100%;
    height: 800px;
    background-color: lightcoral;
}
#chatbot{
    width: 100%;
    height: 800px;
    background-color: lightgreen;
}
img{
    transition: transform.2s;
}
img:hover{
    transform: scale(0.9)
}
.line{
    height: 6px;
    background: black;
    width: 70px;
    margin: 8px auto;
}
